body {
  font-size: 10pt;
}

#title-logo {
  color: navy;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  img {
    height: 40px;
    padding: 8px 4px;
  }
}

.flex-container {
  display: flex;
}

.option {
  align-items: center;
  height: 2em;
  * {
    padding: 0 5px;
  }
}

select {
  border-radius: 3px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: auto;
  width: 100%;
}

.select2-container--default .select2-selection--single {
  height: auto;
}

#scroll-area {
  span {
    font-size: 1.3em;
  }

  #country-info {
    padding: 5px;
  }

  #currency-info {
    padding: 5px;

    #exchange-rates {
      justify-content: space-around;
      background-color: yellow;
      width: 100%;

      div {
        flex-grow: 1;
      }

      .my-currency {
        color: darkgreen;
      }

      #SELF {
        display: none;
      }
    }
  }
}

#test-flexbox {
  width: 100%;
  background-color: red;
  justify-content: center;
}
