#title-logo {
  color: navy;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  img {
    height: 40px;
    padding: 8px 4px;
  }
}

.flex-container {
  display: flex;
}

.option {
  align-items: center;
  height: 2em;
  * {
    padding: 0 5px;
  }
}

select {
  border-radius: 3px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: auto;
}

.select2-container--default .select2-selection--single {
  height: auto;
}
